@{
    ViewData["Title"] = "ContactAddEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ContactModel

<h2>@TempData["Contact_Insert_Msg"]</h2>

<div class="container">
    <form method="post" class="form" asp-controller="Contact" enctype="multipart/form-data">

        @Html.HiddenFor(x => x.ContactID)

        <div class="form-group">
            <label class="form-label">CountryName</label>
            <select class="form-control" id="CountryID" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="funOnCountryChange();">
                <option value="">Select Country</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">StateName</label>
            <select class="form-control" id="StateID" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" onchange="funOnStateChange();">
                <option value="">Select State</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">CityName</label>
            <select class="form-control" id="CityID" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                <option value="">Select City</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Category</label>
            <select class="form-control" asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.ContactCategoryList,"ContactCategoryID","ContactCategory"))">
                <option value="">Select Category</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name Here." />
        </div>

        <div class="form-group">
            <label class="form-label">Mobile No.</label>
            <input type="text" class="form-control" asp-for="Mobile" placeholder="Enter Mobile No. Here." />
        </div>

        <div class="form-group">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email" placeholder="Enter Email Here." />
        </div>

        <div class="form-group">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address Here." />
        </div>

        <div class="form-group">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" asp-for="File" placeholder="Upload File." />
        </div>

        @Html.HiddenFor(x => x.CreationDate)
        @Html.HiddenFor(x => x.ModificationDate)
        @Html.HiddenFor(x => x.PhotoPath)

        <div class="row">
            <div class="col-1">
                <button type="submit" class="btn btn-outline-success" asp-action="Save">Save</button>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-outline-danger" asp-action="Index">Cancel</button>
            </div>
        </div>

    </form>
</div>

<script>
    function funOnCountryChange() {
        var CountryID = $("#CountryID").val();

        $("#StateID").empty();
        $("#StateID").append($("<option></option>").val("").html("Select State"));
        $("#CityID").empty();
        $("#CityID").append($("<option></option>").val("").html("Select City"));
        if (CountryID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("State_DropDownByCountry","Contact")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result, function (key, value) {
                            $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                        });
                    },
                    error: function (err) {
                        console.log("Error : ", err);
                    }
                }
            )
        }
    }

    function funOnStateChange() {
        var StateID = $("#StateID").val();

        $("#CityID").empty();
        $("#CityID").append($("<option></option>").val("").html("Select City"));
        if (StateID !== "") {
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("City_DropDownByState","Contact")" + "?&StateID=" + StateID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result, function (key, value) {
                            $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                        });
                    },
                    error: function (err) {
                        console.log("Error : ", err);
                    }
                }
            )
        }
    }

</script>

@*@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@