
@{
    ViewData["Title"] = "ContactCategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data
@model DataTable

<div class="container-fluid">
    <h2>@TempData["ContactCategory_Update_Msg"]</h2>
    <h2>@TempData["ContactCategory_Delete_Msg"]</h2>

    <div class="container">
        <h2>Search Box</h2>
        <form method="post" asp-controller="ContactCategory">
            <div class="row">
                <div class="col-4">
                    <label>Category</label>
                    <input type="text" class="form-control" name="ContactCategory" placeholder="Enter Category Here." />
                </div>

                <div class="col-4" style="margin-top:31px">
                    <button type="submit" class="btn btn-outline-info" asp-action="Search">Search</button>
                </div>

                <div class="col-4" style="margin-top:31px">
                    <button type="submit" class="btn btn-outline-danger" asp-action="Index">Cancel</button>
                </div>

            </div>
        </form>
    </div>

    <hr />

    <div class="container">
        <h1>Category</h1>
        <div>
            <a class="btn btn-outline-info" asp-controller="ContactCategory" asp-action="Add">Add Category</a>
        </div>
        <div class="input-group" style="margin-top:11px">
            <input type="text" class="form-control" id="sample_1" placeholder="Search here...">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>
    
</div>

<hr />

<div class="container">
    <table class="table" id="sample_1">
        <thead>
            <tr>
                <th>Category</th>
                <th>Creation Date</th>
                <th>Modification Date</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody id="sample_2">
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td>@dr["ContactCategory"]</td>
                    <td>@dr["CreationDate"]</td>
                    <td>@dr["ModificationDate"]</td>
                    <td>
                        <form method="post" asp-controller="ContactCategory">
                            <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"])">
                            <button type="submit" class="btn btn-outline-info" asp-action="Add">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-controller="ContactCategory">
                            <input type="hidden" name="ContactCategoryID" value="@Convert.ToInt32(dr["ContactCategoryID"])">
                            <button type="submit" class="btn btn-outline-danger" asp-action="Delete">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}